
#todos {
  width: 80%;
  margin: auto;
}

.full-width {
  width: 100%;
}

#textarea {
width: 500px;
}
.todos-completed {
  margin-top: 2rem;
}

.nouveau_vehicule {
  margin-left: 525px;
  position: relative;
  top: -60px;
}

.Date {
  margin-left: 20px;
}

.intitu{

  background: rgb(255, 255, 255);
  font-family: 'Dosis', sans-serif;
  color: white;


}


.tabl{
  position: relative;
  top: 50px;

}
